<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signup Page</title>
</head>
    <%- include('./partials/script') %>       
    <%- include('./partials/nav') %>
<body>
    
      <div class="container mt-4">
        <h2 >Signup Form</h2>
        <form action="/user/signup" method="post">      <!-- Form to submit user signup data to /user/signup route -->
          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" aria-describedby="fullName" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>      <!-- Submit button to submit the form -->
        </form>
      </div>
</body>
</html>


